.contentWrapper.expand {
    height: 685px;
}

@media (min-width: 375px) {
    .contentWrapper.expand {
        height: 598px;
    }
}

@media (min-width: 425px) {
    .contentWrapper.expand {
        height: 580px;
    }
}

@media (min-width: 500px) {
    .contentWrapper.expand {
        height: 475px;
    }
}

@media (min-width: 600px) {
    .contentWrapper.expand {
        height: 440px;
    }
}

@media (min-width: 768px) {
    .contentWrapper.expand {
        height: 405px;
    }
}