.contentWrapper.expand {
    height: 600px;
}

@media (min-width: 375px) {
    .contentWrapper.expand {
        height: 570px;
    }
}

@media (min-width: 500px) {
    .contentWrapper.expand {
        height: 40px;
    }
}

@media (min-width: 600px) {
    .contentWrapper.expand {
        height: 390px;
    }
}

@media (min-width: 768px) {
    .contentWrapper.expand {
        height: 370px;
    }
}