.gridContainer {
    margin: 0em 1em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections {
    margin: 2em 1em 2em;
    box-shadow: 0 10px 10px -10px black;
    
}

.desContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    background-color: var(--about);
}

.des {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--about);
    margin-top: 0.5em;
    padding-bottom: 2em;
  }

.intervista {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1em 0 1em;
    color: var(--nav-footer);
}

  .subContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    width: 100%;
  }

@media (min-width: 500px) {
    .logo {
        width: 130px;
    }
    .iconNav {
        width: 35px;
        padding-right: 2em;
    }
    .shoes {
        width: 45px;
    }
    .list {
        justify-content: flex-end;
        padding-right: 0;
    }
    .about {
        padding: 2em 4em 3em;
    }
    .gridContainer {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        margin: 4em 4em;
        flex: 1;
    }
    .sections {
        margin: 0em 0em;
    }
    .anchorSection {
        transition: transform .2s ease;
    }
    .anchorSection:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .des {
        font-size: 0.9em;
    }
    .aboutContainer {
        grid-column: 1 / -1;
    }
    .footerAbout {
        max-width: 60%;
    }
}

@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .footerAbout {
        max-width: 50%;
    }
}