.contentWrapper.expand {
    height: 380px;
}

@media (min-width: 375px) {
    .contentWrapper.expand {
        height: 345px;
    }
}

@media (min-width: 500px) {
    .contentWrapper.expand {
        height: 295px;
    }
}

@media (min-width: 600px) {
    .contentWrapper.expand {
        height: 240px;
    }
}

@media (min-width: 768px) {
    .contentWrapper.expand {
        height: 220px;
    }
}