.contentWrapper.expand {
    height: 458px;
}

@media (min-width: 375px) {
    .contentWrapper.expand {
        height: 385px;
    }
}

@media (min-width: 425px) {
    .contentWrapper.expand {
        height: 360px;
    }
}

@media (min-width: 500px) {
    .contentWrapper.expand {
        height: 298px;
    }
}

@media (min-width: 600px) {
    .contentWrapper.expand {
        height: 265px;
    }
}

@media (min-width: 768px) {
    .contentWrapper.expand {
        height: 228px;
    }
}