h1 {
    color: var(--nav-footer);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6em;
    padding: 1.5em 1em 0.5em;
    background-color: var(--about);
}

.WrapContainer {
    background-color: var(--about);
    margin-top: 0.5em;
}

.contentWrapper {
    background-color: var(--about);
    padding: 0em 2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0rem;
    transition: height 1s ease;
    overflow: hidden;
}

.intro {
    max-width: 700px;
}

p {
    text-align: left;
}

.firstLine {
    padding: 0em 2em 0em;
    margin-top: 1em;
    font-size: 0.9em;
    text-align: center;
}

.secondLine {
    max-width: 700px;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: 300;
}

.topIco {
    color: white;
    margin-left: 0.2em;
    margin-top: 0.2em;
}

.buttonWrap {
    width: 100%;
    height: 70px;
    background-color: var(--about);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWrap button {
    background-color: var(--about);
    outline: none;
    border: none;
    padding: 0.5em 0.6em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--nav-footer);
    cursor: pointer;
}

#espandi {
    padding: 1em 0em 0em;
    margin-bottom: 0;
}

#arrow {
    width: 15px;
    height: auto;
    margin-top: 0.3em;
}

.gridContainer{

}

.gridGallery {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin: 2em 0.2em 1em;
    gap: 0.2em;

}

.gridGallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 4px -5px black;
    margin-bottom: 2em;
    cursor: pointer;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-list {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 0em;
}

.listButton{
    width: 30px;
    height: 25px;
    background-color: var(--nav-footer);
    border: 1px solid black;
    margin-top: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listIcon {
    width: 70%;
}

#imgList{
    position: absolute; 
}

#imgGrid{
    position: absolute;
    display: none;
}

@media (min-width: 500px) {
    .gridGallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 2em;
        margin: 3em 2em 1em;
    }
    .gridGallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 10px 10px -10px black;
        transition: transform .2s ease;
    }
    .gridGallery img:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .buttonContainer{
        display: none;
    }
}

@media (min-width: 768px) {
    .gridGallery {
        margin: 4em 5em;
    }
}