h1 {
    color: var(--nav-footer);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6em;
    padding: 1.5em 1em 0.5em;
    background-color: var(--about);
}

.WrapContainer {
    background-color: var(--about);
    margin-top: 0.5em;
}

.contentWrapper {
    background-color: var(--about);
    padding: 1em 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: height 1s ease;
}

p {
    padding-bottom: 1em;
    max-width: 700px;
    text-align: left;
    font-weight: 300;
    font-size: 0.9em;
    overflow: hidden;
    margin-bottom: 0em;
}

.buttonWrap {
    width: 100%;
    height: 67px;
    background-color: var(--about);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--about);
    outline: none;
    border: none;
    padding: 0.5em 0.6em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--nav-footer);
    cursor: pointer;
}

#espandi {
    padding: 0;
    margin-bottom: 0;
}

#arrow {
    width: 15px;
    height: auto;
    margin-top: 0.3em;
}

.gridGallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 2em;
    margin: 2em 2em;
}

.gridGallery img {
    box-shadow: 0 10px 10px -10px black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    box-shadow: 0 10px 10px -10px black;
    cursor: pointer;
}

@media (min-width: 500px) {
    .gridGallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        gap: 2em;
        margin: 2em 2em;
    }
    .gridGallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .2s ease;
    }
    .gridGallery img:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@media (min-width: 768px) {
    .gridGallery {
        margin: 4em 5em;
    }
}