.contentWrapper.expand {
    height: 810px;
}

@media (min-width: 375px) {
    .contentWrapper.expand {
        height: 705px;
    }
}

@media (min-width: 425px) {
    .contentWrapper.expand {
        height: 640px;
    }
}

@media (min-width: 500px) {
    .contentWrapper.expand {
        height: 545px;
    }
}

@media (min-width: 600px) {
    .contentWrapper.expand {
        height: 470px;
    }
}

@media (min-width: 750px) {
    .contentWrapper.expand {
        height: 430px;
    }
}