html,
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    border: 0;
    border-radius: 2px;
}

#nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test {
    grid-column: 1 / 2;

}

.header-img {
    width: 3.5em;
    margin: 0;
}

.controller {
    display: none;
}

.nav-link {
    font-size: 1em;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

li{
    font-size: 1.3em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
}

.t {
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/6/69/PlayStation_button_T.svg);
}

.c {
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6b/PlayStation_button_C.svg);
}

.x {
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8f/PlayStation_button_X.svg);
}

.s {
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/PlayStation_button_S.svg);
}



#video1 {
    padding-bottom: 100px;
}

#video2 {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    padding-top: 150px;
    padding-bottom: 150px;
}

input {
    max-width: 100%;
    width: 400px;
    height: 30px;
    margin-top: 50px;
    border-radius: 20px;
}

input,
textarea {
    font-family: inherit;
    text-align: center;
    outline: none;
}

input[type=submit] {
    width: 100px;
    background-color: #3266f5;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 500px) {
    
    .header-img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 4em;
        margin: 0;
    }

}

@media (min-width: 760px) {
    #nav-bar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    
    .nav-link {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
        margin-left: 20px;
        font-size: 15px;
    }
    
    .nonlink {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        margin: 0.3em;
    }
    .controller{
        display: flex;
        padding-left: 0.5em;
    }

    li {
        font-size: 25px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 50px;
        padding-left: 10px;
    }
}